.figure{
    margin-top: 10rem; 
    background: black;
    width: 0;   
    height: 5px;
    position:relative;
    animation-name: slide;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes slide{
    0%{
        width: 0;
        opacity: 0.1;
    }

    100%{
        width: 200px;
        opacity: 0.8;
    }
    
}