.links{
    display:flex;
    gap:1rem ;
}

.links li{
  list-style: none;
}

.links a{
    text-decoration: none;
    color:black;
    position: relative;
   
}
.links a::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 1s;
}

.links a:hover::after{
    width: 20px;
}

.links a:hover {
    transform: translateX(10px); /* Lien se déplace légèrement */
    transition: transform 0.3s ease; /* Animation du déplacement */
}
