.container{
    margin: auto; 
    background-color: grey;
    width: 250px;
    height: 300px;
    border-radius: 4px;
}
.title{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 0.8rem;
   width: 200px;
   height: 30px;
   display: flex;
   justify-content: center;
}

.mini-container{
    margin-bottom: 3rem;
    display:flex; 
    flex-direction: column;
    padding: 1.3rem;
    font-family:Georgia, 'Times New Roman', Times, serif; 
}

.mini-container input {
    width: 200px;
    border-radius: 3px;
    border: none;
    height: 20px;
}
.mini-container button{
    width: 207px;
    height: 30px;
    margin-top: 1rem; 
    border-radius: 3px;
    border:none; 
}